<%  if  @members.size > 0 %>
<table  width="100%"  cellspacing="3" class="command-box">
  <tr>
    <td width="130">
    <%  if  params[:action] ==  'search'%>
      <%= link_to '一覧表示に戻る',  :action =>  'index' %>
    <%  else  %>
      <%= link_to_unless_current  '背番号順',
        :action =>  'index' %>|
      <%= link_to_unless_current  '氏名順',
        :action =>  'index',  :sort =>  'byname'  %>
    <%  end %>
    </td>
  <td align="right">
  <form action="<%= url_for(:action =>  'search') %>">
    <input  name="q"  value="<%=  h(@query) %>" />
    <input  type="submit" value="検索"  />
  </form>
  </td>
  </tr>
</table>

<table  width="100" class="listing" cellspacing="2" cellpadding="4">
  <tr>
      <th width="50">背番号</th>
      <th width="180">氏名</th>
      <th>メールアドレス</th>
  </tr>
<%  @members.each do  |member|  %>
  <tr>
    <td style="text-align:right"><%=  member.member_number  %></td>
    <td><%= link_to h(h(member.full_name),
            :action =>  'show', :id =>  member) %></td>
    <td><%= mail_to(member.email) %></td>
  </tr>
  <%  end %>
</table>
<%  else  %>
  <p>会社情報がありません</p>
<%  end %>

